/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #5065d0;
	--ifm-color-primary-dark: #4559b4;
	--ifm-color-primary-darker: #3b4d99;
	--ifm-color-primary-darkest: #30407e;
	--ifm-color-primary-light: #566de6;
	--ifm-color-primary-lighter: #5c75eb;
	--ifm-color-primary-lightest: #6782f2;
	--ifm-code-font-size: 95%;
	--ifm-footer-title-color: inherit;
	--ifm-footer-background-color: #f2f5ff;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--ifm-background-color: #fdfdff; /* Light theme body background color */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #6782f2;
	--ifm-color-primary-dark: #5c75eb;
	--ifm-color-primary-darker: #566de6;
	--ifm-color-primary-darkest: #4559b4;
	--ifm-color-primary-light: #7794ff;
	--ifm-color-primary-lighter: #88a5ff;
	--ifm-color-primary-lightest: #9aaaff;
	--ifm-footer-title-color: inherit;
	--ifm-footer-background-color: #242526;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
	--ifm-background-color: #1e2025; /* Dark theme body background color */
}
@media (min-width: 771px) {
	.DocSearch-Button {
		width: 40dm;
		max-width: 300px;
	}
}