.products {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 20px;
}

.container {
	max-width: 450px;
}

.githubDetails {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.githubTitle {
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo {
	height: 40px;
	width: auto;
}

.title {
	margin: 0;
}

.starsLogo {
	display: flex;
	gap: 4px;
	align-items: center;
}

.starsLogo p {
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
}

.rightLinks {
	display: flex;
	align-items: center;
	gap: 8px;
}

.githubLink {
	display: flex;
	align-items: center;
	gap: 8px;
}

.githubLink p {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.githubLogo::before {
	background-color: var(--ifm-navbar-link-color);
	content: '';
	display: flex;
	height: 24px;
	mask-image: url('/img/github.svg');
	width: 24px;
}
